    body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #3D7EAA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
      }

/* Styling för cards på förstasidan */

.g-card{
  margin: 20px;
  
}

.g-card:hover{
  color: black;
}

.g-card-image {
  border-radius: 10px;
  width: 400px;
  height: 480px;
  box-shadow: 0px 0px 3px 1px;
}


.g-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.g-card-title {
  font-size: 20px;
  margin: 0px;
}

.g-card-sub-title {
  font-size: 24px;
  margin: 0px;
}

/* Styling för social media ikoner */
.social-container {
    align-content: center
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
  
}

a.instagram {
 
  color: black;
}

a.github {
  color: #4078c0;
}

/* Styling för error message mejl */

.success-msg {
  color: #57A773;
  padding: 10px 15px;
}

.err-msg {
  color: #EE6352;
  padding: 10px 15px;
}

/* Rubrikerna förstasidan */ 

.display-1 {
  color:white;
  font-size: 50px !important
 
}

.display-4 {
  color:white;
  font-size: 40px !important
}
.lead {
  color:white;
}
